<html>
    <head>
        <meta charset="utf-8" />
        <title>Error {{error.statusCode}}: {{error.message}}</title>
    </head>
    <body>
        <h1>Error {{error.statusCode}}: {{error.message}}</h1>
        <hr />
        <h3>{{pkg.name}}/{{pkg.version}} @ {{server.host}} - Puerto {{server.port}}</h3>
    </body>
</html>
